.educations {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    gap: 10px;

    >.education {
        width: 400px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .education {}
}